.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.csv
.RData
C:/Users/esteban.degetau/Documents/GitHub/tidyenigh/data-raw/enigh/data/00_docs
C:/Users/esteban.degetau/Documents/GitHub/tidyenigh/data-raw/enigh/data/02_open
C:/Users/esteban.degetau/Documents/GitHub/tidyenigh/data-raw/enigh/data/03_pre_clean
C:/Users/esteban.degetau/Documents/GitHub/tidyenigh/data-raw/enigh/data/99_meta
